{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content_block %}

  <div class="container">
    
        <div class="d-flex align-items-end">
            <form  method="POST" > 
                <div class="d-flex">
                  <button class="btn btn-primary btn-lg" name="selenium" value="Start Selenium" type="submit">
                    Auto Download Files 
                    <span class="glyphicon glyphicon-download-alt"></span>
                  </button>
                </div>
            </form>
        
    </div>
    <hr />
  </div>






<div class="container">
  
  
  <h2>Location List</h2>
  <br />
  <form class="teamSelection" method="POST" >  
    <select class="form-control" aria-label="Default select example" id="location" type="text" name="location" placeholder="Select Location">
        <option selected>Location</option>
         {%for i in loc_list%}
            <option id="{{i}}" value="{{i}}">{{i}}</option>
         {%endfor%}
    </select>
    <br />
    <button class="btn btn-info btn-lg" type="submit">
      Submit
      <span class="glyphicon glyphicon-arrow-right"></span>
   </button>
  </form>
  <hr />
</div>


<div class="container">
  <h2>Input Location System Device</h2>
  <form method="POST">
      <div class="mb-5">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="input_location" id="input_location" placeholder="HKBCF_001">
      </div>
      <div class="mb-5">
        <label for="system" class="form-label">System</label>
        <input type="text" class="form-control" name="input_system" id="input_system" placeholder="AUS">
      </div>
      <div class="mb-5">
        <label for="device" class="form-label">Device</label>
        <input type="text" class="form-control" name="input_device" id="input_device" placeholder="CTR">
      </div>
      <div class="mb-5">
        <label for="equip_no" class="form-label">Equipment No. (Optional)</label>
        <input type="text" class="form-control" name="input_equip" id="input_equip" placeholder="10898875">
      </div>
      <button class="btn btn-info btn-lg" name="submit_input"type="submit">
        Search
        <span class="glyphicon glyphicon-search"></span>
     </button>
      
  </form>
</div>
<script>
  document.getElementById('submit_input').addEventListener('keypress', function(event) {
      if (event.keyCode == 13) {
          event.preventDefault();
      }
  });
</script>
{% endblock %}

