{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content_block %}
<form id="#sampleform" method="POST" > 
  <div class="container">
        <div class="d-flex align-items-end">
                <div class="d-flex">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-play"></i>
                        <input class="btn btn-success btn-lg" type="submit" name="selenium" value="Start Selenium">
                    
                      </div>
                  </div>
                    <div class="btn-group mr-2 " role="group" aria-label="Second group">
                      <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        <input class="btn btn-primary btn-lg"type="submit" id="change_folder" name="change_folder" value="Move Download Data">
                   
                      </div> 
                       
                   
                    </div>  

                    <div class="form-group" id="process" style="display:none;">
                      <div class="progress">
                     <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""></div>
                    </div>
                  </div>
                </div>
                
                </div>
                </div>
    </div>
    <hr />
  </div>   
</form>






<div class="container">
  
  
  <h2>Location List</h2>
  <br />
  <form class="teamSelection" method="POST" >  
    <select class="form-control" aria-label="Default select example" id="location" type="text" name="select_location" placeholder="Select Location">
        <option selected>Location</option>
         {%for i in loc_list%}
            <option id="{{i}}" value="{{i}}">{{i}}</option>
         {%endfor%}
    </select>
    <br />
    <button class="btn btn-info btn-lg" type="submit">
      Submit
      <span class="glyphicon glyphicon-arrow-right"></span>
   </button>
  </form>
  <hr />
</div>


<div class="container">
  <h2>Input Location System Device</h2>
  <form method="POST">
      <div class="mb-5">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="input_location" id="input_location" placeholder="HKBCF_001">
      </div>
      <div class="mb-5">
        <label for="system" class="form-label">System</label>
        <input type="text" class="form-control" name="input_system" id="input_system" placeholder="AUS">
      </div>
      <div class="mb-5">
        <label for="device" class="form-label">Device</label>
        <input type="text" class="form-control" name="input_device" id="input_device" placeholder="CTR">
      </div>
      <div class="mb-5">
        <label for="equip_no" class="form-label">Equipment No. (Optional)</label>
        <input type="text" class="form-control" name="input_equip" id="input_equip" placeholder="10898875">
      </div>
      <button class="btn btn-info btn-lg" name="submit_input"type="submit">
        Search
        <span class="glyphicon glyphicon-search"></span>
     </button>
      
  </form>
</div>
<script>
  document.getElementById('submit_input').addEventListener('keypress', function(event) {
      if (event.keyCode == 13) {
          event.preventDefault();
      }
  });
</script>
{% endblock %}

