<!-- {% extends "base.html" %}
{%block title%}Homepage{%endblock%}

{%block content%} 
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flust" id="notes">
    {%for note in user.notes%}
    <li class="list-group-item">
        {{note.data}}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aira-hidden="true">&times;</span><!-- Hidden the button --> 
    <!-- </button>

    </li>
    {%endfor%}
</ul>







<form method="POST">
    <textarea name ="note" id ="note" class="form-control"></textarea>
    <br />    
        <div align="center">
            <button type="submit" class="btn btn-primary">
                Add Note
            </button>
        </div>
    
</form>



<h1 align="center">EMSD</h1>
<ul class="list-group list-group-flust" id="emsd_list">
    {%for note in user.notes%}
    <li class="list-group-item">{{note.data}}</li>
    {%endfor%}
</ul>

<form method="POST">
    <textarea name ="EMSD data" id ="emsd" class="form-control"></textarea>
    <br />    
        <div align="center">
            <button type="submit" class="btn btn-primary">
                Add EMSD data
            </button>
        </div>
    
</form>


{%endblock%} --> -->