{% extends 'base.html' %}
{% block title %} System List {% endblock %}
{% block content_block %}
<h1>{{Location}}</h1>

<div class="contaniner">
<table class="table">
    <thead>
      <tr>
        <th scope="col">index</th>
        <th scope="col">System</th>
      </tr>
    </thead>
    <tbody>
                {%for i in sys_arr%}
                <form class="teamSelection" method="post" >  
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    
                    <td><input class="btn btn-primary" type="submit" name = "system" value="{{i}}"></td>
                    <!-- <td><select class="selectpicker" 
                                aria-label="Default select example" 
                                id="device" 
                                type="text" 
                                name="device" 
                                placeholder="Select Location">
                                <option selected>Device</option>
                                {%for j in device_arr%}
                                   <option id="{{j}}" value="{{j}}">{{j}}</option>
                                {%endfor%}
                           </select>
                          <input class="btn-primary" type="submit" value="Submit">     -->
               
                </tr>
              </form>
                {%endfor%}
        
    </tbody>
  </table>
</div>
{%endblock%}